<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataManager.Properties.Settings.InventoryDatabaseConnectionString"
            connectionString="Server=PrsnMgrUser.db.11727236.hostedresource.com;Database=PersonManagerDB;User Id=PrsnMgrUser;Password=PrsnMgrPass12!"
            providerName="System.Data.SqlClient" />
        <add name="DataManager.Properties.Settings.InventoryDatabaseConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\InventoryDatabase4.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>